.page-title {
    text-align: center;
    margin-top: 20px;
}

.page-title p {
    font-size: 2rem; /* 폰트 크기 조정 */
    color: #333; /* 폰트 색상 조정 */
    font-weight: bold; /* 폰트 두께 조정 */
    font-family: 'Arial', sans-serif; /* 폰트 패밀리 조정 */
}
  