.nav {
    height: 150px; /* 원하는 여백 크기로 조정 */
    background-color: rgb(255, 255, 255);
    align-items: center;
  }

.nav-link {
    font-size: 25px; /* 글자 크기 변경 */
    color: #00000075; /* 글자 색상 변경 */
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link.active {
    font-size: 25px; /* Active 상태 글자 크기 변경 */
    color: #000000; /* Active 상태 글자 색상 변경 */
}

.nav-login{
    font-size: 15px; 
    color: #000000;
    margin-right: 20px;
    margin-top: 10px;
}

