body {
    background-color: #f8ffd9; /* 원하는 배경 색으로 변경 (예: 연한 파란색) */
}

.page-title {
    text-align: center;
    margin-top: 20px;
}

.page-title p {
    font-size: 2rem; /* 폰트 크기 조정 */
    color: #333; /* 폰트 색상 조정 */
    font-weight: bold; /* 폰트 두께 조정 */
    font-family: 'Arial', sans-serif; /* 폰트 패밀리 조정 */
}

  
.dropdown-menu {
    min-width: 300px; /* 원하는 크기로 설정 */
}

.btn-secondary.dropdown-toggle {
    background-color: #4CAF50 !important; /* 버튼 배경색 변경 (예: 녹색) */
    color: white !important; /* 글자 색상 변경 */
    border-color: #4CAF50 !important; /* 테두리 색상 변경 */
    font-size: 1.3rem; /* 폰트 크기 조정 */
    padding: 10px 20px; /* 패딩 조정 */
    border-radius: 5px; /* 모서리 둥글게 */
    width: 300px;
    height: 55px;
}

/* 버튼 호버 스타일 */
.btn-secondary.dropdown-toggle:hover {
    background-color: #45a049 !important; /* 호버 시 배경색 변경 */
    border-color: #45a049 !important; /* 호버 시 테두리 색상 변경 */
}
